<!--

         Copyright (C) 2012-2017 DataStax Inc.

         This software can be used solely with DataStax Enterprise. Please consult the license at
         http://www.datastax.com/terms/datastax-dse-driver-license-terms

-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- debug Pax Exam -->
    <!--<logger name="org.ops4j.pax" level="DEBUG" additivity="false">-->
    <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!-- print loaded bundles -->
    <!--<logger name="com.datastax.driver.osgi.MailboxServiceTests" level="DEBUG" additivity="false">-->
    <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!-- this guy is a bit too verbose -->
    <logger name="org.ops4j.pax.exam.nat.internal.NativeTestContainer" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- this one too -->
    <logger name="com.jcabi.manifests.Manifests" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
